---
import FadeIn from "./FadeIn";
---

<FadeIn delay={2.5} client:load>
	<footer class="flex justify-center items-center">
		<div
			class="fixed left-0 right-0 -bottom-7 z-50 bg-white h-24 blur-2xl w-[50%] mx-auto pointer-events-none select-none"
		>
		</div>
		<span class="font-['Yellowtail'] text-3xl select-none pointer-events-none"
			>lup</span
		>
	</footer>
</FadeIn>
